create

<form method="post" action="/articles">
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title"/>
    </div>
    <div>
        <label for="text">Text:</label>
        <textarea id="text" name="text"></textarea>
    </div>


    <button type="submit">Create</button>
</form>
