<a href="/articles/create">New article</a>
{% for article in articles.all %}
    <div>
        <h3><a href="/articles/{{ article.id }}">{{ article.title }}</a></h3>
        <form action="/articles/{{ article.id }}/delete" method="post">
            <button type="submit" onclick="return confirm('delete?')" name="delete">X</button>
        </form>
        <p>{{ article.created.format('Y-m-d H:i') }}</p>
        <br/>
    </div>
{% endfor %}

